
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media (max width: 600%){ 

    background-color: yellow;
    font-family:Poppins, sans-serif;
    .banner img {
        max-width: 80%;
        height: auto;
    }
    

}
body{

    font-family: Poppins, sans-serif;
    margin: 0;
    background-color: yellow;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.banner img {
    max-width: 80%;
    height: auto;
}

.busca {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    font-family: Poppins, sans-serif;
}

.busca input {
    display: flex;
    padding: 10px;
    width: 250px;
    border: 1px solid #cccccc;
    border-radius: 16px;
}

.busca button {
    display: flex;
    padding: 8px 16px;
    background-color: #ffcc00;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */

}

.busca button:hover {
    display: flex;
    background-color: #2b2e8bee;
}


.resposta {
    margin-top: 20px;
    padding: 16px;
    background-color: yellow;
    border-radius: 10px;
    display: none; /* começa escondido */
    white-space: pre-line;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    color: #333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  